<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleDisplayName</key>
    <string>Media Memory</string>
    <key>CFBundleExecutable</key>
    <string>MediaMemory</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.nimbushh.media-memory</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Media Memory</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
	<string>0.1.2</string>
    <key>CFBundleVersion</key>
	<string>3</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Media Memory 仅在您扫描、处理或播放所选视频时读取对应网络卷；不会修改源文件。</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Media Memory 仅在您扫描、处理或播放所选视频时读取对应外置卷；不会修改源文件。</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
